<div class="user-game-cards">
  <h1> Your challenges </h1>
   <div class="user-game-card">
  <p> Hello, <%= current_user.nickname%>! All your challenges :  </p>
  <% if @user_challenge.nil? %>
    <p> You have no challenges yet! </p>
  <% else %>
    <% @user_challenges.each do |challenge| %>
        <h3> <%= link_to challenge.title, challenge_path(challenge) %> </h3>
        <h3> <%= challenge.level %> </h3>
      </div>
    <% end %>
  <% end %>
  </div>
  <%= link_to "add a challenge",  new_user_game_path %>
</div>
