<div class="card-help">
  <h1>Help</h1>
  <p id="desc">Here you'll find everything you need to understand the application.</p>

  <p><i class="fa-solid fa-house"></i> returns you to home, to your city</p>
  <p><i class="fa-solid fa-user"></i> to view your current challenges and add new ones</p>
  <p style="text-align:center; font-weight:bold; font-size:20px">In the central menu</p>
  <p><i class="fa-solid fa-trophy"></i> to see all available challenges</p>
  <p><i class="fa-solid fa-piggy-bank"></i> to view all your expenses and add more</p>
  <p><i class="fa-solid fa-chart-simple"></i> to view statistics and graphs related to your expenses</p>

  <%# <img src="../../../app/assets/images/cover.png"> %>
</div>
<%= link_to "back", user_games_path, class: "button-help back text-decoration-none" %>

</div>
