// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
<<<<<<< HEAD
=======

$light-blue: #29C6CD;
$cream: #F6E4C4;
$saumon: #FEA386;
$red-pastel: #F19584;
>>>>>>> 9d0cc82a713d1664e433b606c7e57e24cddb27af
