<ul>
 <li>
    <%= link_to "/cities/1" do %>
      <i class="fa fa-home"></i>
  <% end %>
</li>
  <li>
    <%= link_to user_game_index_path do %>
      <i class="fa-solid fa-user"></i>
        <% end %>
    </a>
  </li>
  <li>
    <%= link_to expenses_path do %>
     <i class="fa-solid fa-money-bill"></i>
     <% end %>
  </li>
  <li>
    <a href="http://[::1]:3000/expenses/new">
      <i class="fa-solid fa-piggy-bank fa-rotate-180 fa-lg"></i>
     </a>
  </li>
  <li>
    <a href="http://[::1]:3000/cities/1/edit">
      <i class="fa fa-gears"></i>
    </a>
  </li>
  <li>
  <%= link_to challenges_path do %>
    <i class="fa-solid fa-trophy"></i>
  <% end %>
</li>
  <li class="close" data-action="click->searchbutton#display">
    <a href="#">
      <i class="fa fa-times"></i>
    </a>
  </li>
</ul>
