<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js" type="text/javascript"></script>
</head>

<body>

    <div class="navbar">
        <div class="effect"></div>
        <%= link_to cities_path do %>
        <button class="active">
          <i class="fa-solid fa-house"></i>
        </button>
        <% end %>
        <%=render "shared/navigation_button"%>
         <%= link_to user_games_path do %>
        <button>
            <i class="fa-solid fa-user"></i>
        </button>
        <% end %>
    </div>

    <script src="js/script.js" type="text/javascript"></script>
<script>
  const effect = document.querySelector('.effect');
const buttons = document.querySelectorAll('.navbar button:not(.plus)');

buttons.forEach(button => {

    button.addEventListener('click', e => {

        const x = e.target.offsetLeft;

        buttons.forEach(btn => {
            btn.classList.remove('active');
        })

        e.target.classList.add('active');

        anime({
            targets: '.effect',
            left: `${x}px`,
            opacity: '1',
            duration: 600
        })

    })

})

</script>
</body>

</html>
