<div id="mySidenav" class="sidenav close-sidenav">
  <a href="<%=user_games_path %>">My challenges</a>
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
</div>

<div id="main" class="close-main">
</div>
