
<div class="card-home">
  <h1>Welcome to Save My Wallet !</h1>
  <%= render 'shared/sidenav'%>
  <%= link_to "Go to my city", cities_path , class:"button-add" %>
</div>

<div class="link_to_back">
    <a class="btn button-add" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
      Save My Wallet - the Disclaimer
    </a>
  <div class="collapse" id="collapse">
    <div class="card card-body">
    <p>First of all, we would like to thank you for using our app. We hope you will enjoy it as much as we enjoyed creating it.</p>
    <p>Save My Wallet is a fun game designed to guide you in your expenses.</p>
    <p>Our purpose is to help everybody improving their expenses behavior to avoid red-end of month, and to become proud of your savings. Be your own captain and never return in the red zone.</p>
    <p>Designed with our <i class="fa-solid fa-heart" style="color: #ff0000;"></i>, by Audrey Pachol, Leslie Rados, Quentin Ribardière and Niels Ayigbede at <a href="https://www.lewagon.com/" target="_blank" decoration="none" style="color: #ff0000;"> Le Wagon On-Line Bootcamp.</a></p>
    <br>
    </div>
  </div>
</div>
