<div class="user-game-card" id="user_game">
  <% challenge = Challenge.find(user_game.challenge_id) %>
  <h2><%= link_to challenge.title ,user_game_path(user_game), data: {turbo: false} %></h2>
  <%= content_tag(:i,'', class:all_categories_with_icon[challenge.category]) %>
</div>
