<div class="cards-challenges">
  <h1> Challenges </h1>
    <p> "Hello, <%= current_user.nickname%>! Which challenge do you want to try?" </p>
    <% @challenges.each do |challenge| %>
    <div class="card-challenges">
          <p> <%= link_to challenge.title, challenge_path(challenge) %> </p>
          <p><i class="fa-solid fa-arrow-trend-up"></i> <%= challenge.level %> </p>
    </div>
    <% end %>
</div>

<%= link_to "Back to home", root_path %>
