<div class="cards-challenges">
  <h1> Challenges </h1>
  <div class="card-challenge">
    <p> "Hello, <%= current_user.nickname%>! Which challenge do you want to try?" </p>
    <h2><% @challenges.each do |challenge| %></h2>
        <br>
          <h3> <%= link_to challenge.title, challenge_path(challenge) %> </h3>
          <h3> <%= challenge.level %> </h3>
      <% end %>
  </div>
</div>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
