// buttons on user_game new
.button-game {
  background-color: $saumon;
  border: 2px solid $saumon;
  border-radius: 30px;
  box-shadow: $red-pastel 4px 4px 0 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 8px;
}

.button-game:hover {
  background-color: #fff;
  color: $saumon;
}

.button-game:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

// button add
.button-add {
  background-color: $red-pastel;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 50px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  color: #fff;
  cursor: pointer;
  padding: 8px;
}

// button help
.button-help {
  background-color: $saumon;
  color: white;
  border-radius: 50px;
  padding: 10px;
  position: absolute;
  left: 9px;
  bottom: 50px;
  height: 41px;
  width: 45px;
  text-align: center;
}

.back {
  width: 57px;
}
