// .button-game {
//   background-color: white;
//   border-radius: 50px;
//   margin: 5px;
//   padding: 8px;
// }


/* CSS */
.button-game {
  background-color: $saumon;
  border: 2px solid $saumon;
  border-radius: 30px;
  box-shadow: $red-pastel 4px 4px 0 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 8px;
}

.button-game:hover {
  background-color: #fff;
  color: $saumon;
}

.button-game:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
