// Card expenses
.card-expense {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  h2 {
    padding: 1px 5px;
    font-size: 20px;
  }
  p {
    padding: 1px 5px;
    font-size: 17px;
  }

  a {
    color: $light-blue;
  }
  #title {
    width: 126px;
  }

  #date {
    font-size: 14px;
  }
}

.card-expense-show {
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 310px;
  margin: 28px auto;
  padding: 7px;
  background-color: white;

  h2 {
    text-align: center;
    font-size: 24px;
  }

  p {
    font-size: 19px;
  }

  #category {
    text-align: center;
    font-style: italic;
    color: $saumon;
  }

  #description {
    border-top: 2px dashed;
    padding: 11px 0px 0px 0px;
  }

  i {
    color: $saumon;
  }
}

// Card user_game
.user-game-card {
  display: flex;
  flex-direction: column;
  h2 {
    padding: 1px 5px;
    font-size: 24px;
  }
  p {
    padding: 1px 5px;
    font-size: 19px;
  }
}

.user-game-card-show {
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 310px;
  margin: 28px auto;
  padding: 7px;
}

// Card challenges
.card-challenges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    color: $light-blue;
  }
  h2 {
    padding: 1px 5px;
    font-size: 28px;
  }
  p {
    padding: 4px 5px;
    font-size: 20px;
  }

  #icon {
    color: $saumon;
  }
}

.card-challenges-show {
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 310px;
  margin: 28px auto;
  padding: 7px;
  background-color: white;

  h2 {
    text-align: center;
    font-size: 28px;
    border-bottom: 2px solid;
    padding: 12px;
  }

  p {
    font-size: 22px;
  }

  i {
    color: $red-pastel;
  }

}

.card-home {
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 310px;
  margin: 28px auto;
  padding: 10px;
  background-color: white;
  text-align: center;
}

.card-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }

}
