.city-bar {
  position: absolute;
  width: 100%;
}


.progress {
  position: relative;
  width: 30%;
  border-radius: 20px;
  margin-top: 3px;
  margin-left: 10px;
}

.progress-top {
  margin-top: 10px;
}

.bg-food {
  background-color: #29AACD ;
  color: #ffffff;
}

.bg-shopping {
  background-color: #FED086 ;
  color: #ffffff;

}

.bg-hobbies {
  background-color: #29C6CD ;
  color: #ffffff;

}

.bg-health {
  background-color: #FFD086 ;
  color: #ffffff;

}

.bg-travel {
  background-color: #F18484 ;
  color: #ffffff;

}

.icon {
  position: relative;
}
