<div class="container">
  <div class="row">
    <div class="col">
      <div class="ustify-content">
      <h1>MY City </h1>
      <p>Name: <%= @city.name %></p>
      <p>Level: <%= @city.level %></p>
      </div>
    </div>
  </div>
</div>
