<div class="container">
    <% if City.where(user_id: current_user).empty? %>
      <div class="container-text">
        <div class="justify-content">
          <h1>Welcome to your city</h1>
          <p>You haven't created your city yet!</p>
          <%= link_to "Create your city", new_city_path, class:"button-add"%>
        </div>
      </div>
    <% else %>
      <div class="container " data-controller="phaser">
      <h3 class="text-center">Don't worry <%= current_user.nickname %>, our dream team is working on your game plateform !</h3>
      </div>
    <% end %>
</div>
