<div class="container">
  <div class="row">
  <% if current_user.city_id.nil? %>
    <div class="col">
      <div class="justify-content">
      <h1> Welcome to your city </h1>
      <p> You don't create your city !</p>
      <%= link_to "create your city", new_city_path %>
    </div>
  <% else %>
    <div class="col">
      <div class="justify-content">
      <h1>MY City </h1>
      <p><%= @city.name %></p>
      <p><%= @city.level%></p>
      </div>
    </div>
  </div>
<% end %>
</div>
