<div class="card-expense" id="expense">
    <h2><%= link_to expense.title ,expense_path(expense), data: {turbo: false} %></h2>
    <p><i><%= expense.category %></i></p>
    <p><%= expense.amount %> €</p>
</div>
