<%# Main component for expenses %>
<div class="cards-expenses">
  <h1>My expenses</h1>
  <i class="fa-solid fa-money-bill-wave fa-2xl"></i>
  <% @expenses.each do |expense| %>
    <%= turbo_frame_tag :expenses do %>
      <%= render "expense", expense: expense%>
    <% end %>
  <% end %>
</div>


<%= turbo_frame_tag :expense_form do %>
<% end %>

<%= link_to "add an expense", new_expense_path, data:{turbo_frame: :expense_form} %>
